---
- name: Install gnome
  community.general.pacman:
   name:
    - gnome
   state: present

- name: Start and enable gdm service
  ansible.builtin.systemd_service:
   name: gdm
   enabled: true

- name: Install gnome default extensions
  community.general.pacman:
   name:
    - gnome-shell-extensions
   state: present

- name: Install gnome clipboard-indicator extension
  become_user: "{{ aur_user }}"
  become: true
  kewlfft.aur.aur:
   name:
    - gnome-shell-extension-clipboard-indicator

- name: Enable gnome clipboard-indicator
  become_user: "{{ aur_user }}"
  become: true
  check_mode: false
  ansible.builtin.command:
   cmd: "gnome-extensions enable clipboard-indicator@tudmotu.com"
  changed_when: false

- name: Enable gnome status bar
  check_mode: false
  ansible.builtin.command:
   cmd: "gnome-extensions enable status-icons@gnome-shell-extensions.gcampax.github.com"
  changed_when: false

- name: Enable gnome system-monitor
  check_mode: false
  ansible.builtin.command:
   cmd: "gnome-extensions enable system-monitor@gnome-shell-extensions.gcampax.github.com"
  changed_when: false

- name: Configure gnome dconf settings
  become_user: "{{ aur_user }}"
  become: true
  community.general.dconf:
   key: "{{ item.key }}"
   value: "{{ item.value }}"
   state: "present"
  loop: "{{ gnome_dconf_settings }}"
  loop_control:
   label: "{{ item.key }}"
