---
- name: Create .ssh dir if needed
  ansible.builtin.file:
    path: "/home/{{ aur_user }}/.ssh"
    owner: "{{ aur_user }}"
    group: "{{ aur_user }}"
    mode: '700'
    state: directory

- name: Ensure ssh keypair exists
  community.crypto.openssh_keypair:
    path: "/home/{{ aur_user }}/.ssh/id_ed25519"
    type: ed25519
    owner: "{{ aur_user }}"
    group: "{{ aur_user }}"
