---
- name: Install firefox
  community.general.pacman:
   name:
    - firefox
   state: present

- name: Install chrome
  become_user: "{{ aur_user }}"
  become: true
  kewlfft.aur.aur:
   name:
    - google-chrome
