[gpg]
	format = ssh
[user]
	signingkey = /home/{{ aur_user }}/.ssh/id_ed25519.pub
	name = Christophe - CC4
	email = 46499354+DACC4@users.noreply.github.com
[pull]
	rebase = true
[core]
	editor = nano
[commit]
	gpgsign = true
[fetch]
    prune = true