---
- name: Install apps (pacman)
  community.general.pacman:
   name:
    - discord
    - bitwarden
    - signal-desktop
    - telegram-desktop
    - nextcloud-client
    - wireguard-tools
    - spotify-launcher
    - drawio-desktop
    - tailscale
   state: present

- name: Install apps (yay)
  become_user: "{{ aur_user }}"
  become: true
  kewlfft.aur.aur:
   name:
    - cork-rs-bin
      - visual-studio-code-bin
      - onlyoffice-bin
      - wireguird
      - p3x-onenote-bin
