- name: Install apps (pacman)
  pacman:
   name:
    - discord
    - bitwarden
    - signal-desktop
    - telegram-desktop
    - nextcloud-client
    - wireguard-tools
    - spotify-launcher
   state: present

- name: Install apps (yay)
  aur:
    name: 
      - cork-rs-bin
      - visual-studio-code-bin
      - onlyoffice-bin
      - wireguird
      - p3x-onenote-bin
    user: "{{ aur_user }}"