---
- name: Install required packages
  community.general.pacman:
   name:
    - bluez
   state: present

- name: Start and enable bluetooth service
  ansible.builtin.systemd_service:
   name: bluetooth
   enabled: true
   state: started
