---
- name: Ensure git is installed
  community.general.pacman:
   name:
    - git
    - git-absorb
   state: present

- name: Copy .gitconfig file
  ansible.builtin.template:
   src: .gitconfig.j2
   dest: "/home/{{ aur_user }}/.gitconfig"
   owner: "{{ aur_user }}"
   group: "{{ aur_user }}"
   mode: '0644'
