---
- name: Check updates
  community.general.pacman:
   update_cache: true
   upgrade: true

- name: Setup pacman conf
  ansible.builtin.replace:
   path: /etc/pacman.conf
   regexp: '{{ item.regexp }}'
   replace: '{{ item.replace }}'
  with_items:
   - { regexp: '^#Color$', replace: 'Color' }
   - { regexp: '^#VerbosePkgLists$', replace: 'VerbosePkgLists' }
   - regexp: '^#\[multilib\]\n#Include = \/etc\/pacman\.d\/mirrorlist$'
     replace: |
       [multilib]
       Include = /etc/pacman.d/mirrorlist
- name: Install base packages
  community.general.pacman:
   name:
    - nano
    - vi
    - man-pages
    - fastfetch
    - lshw
    - bind
    - tmux
    - tree
    - jq
    - yq
    - nmap
    - whois
    - xclip
    - powertop
    - tar
    - zip
    - unzip
    - curl
    - wget
    - fwupd
    - htop
    - fprint
    - uv
    - exfat-utils
    - dosfstools
    - linux-headers
    - arch-wiki-docs
    - cups
    - traceroute
   state: present
   update_cache: true

- name: Install hunspell
  community.general.pacman:
   name:
    - hunspell
    - hunspell-fr
    - hunspell-en_gb
   state: present
   update_cache: true

- name: Install fonts
  community.general.pacman:
   name:
    - noto-fonts
    - noto-fonts-cjk
    - noto-fonts-emoji
    - noto-fonts-extra
   state: present
   update_cache: true
