---
- name: Install docker
  community.general.pacman:
   name:
    - docker
    - docker-compose
    - docker-buildx
   state: present

- name: Start and enable docker service
  ansible.builtin.systemd_service:
   name: docker
   enabled: true
   state: started

- name: Add user to docker group
  ansible.builtin.user:
   name: "{{ aur_user }}"
   append: true
   groups: docker
